.info-section {
  padding: 50px;
  background: #001529;
  color: #ffffff;
  text-align: left;
}

.info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.text-section {
  flex: 2;
  padding-right: 20px;
  line-height: 1.8;
}

.text-section h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.image-section img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
